# Database connection string
# Local Development defaults to SQLite if DATABASE_URL is not set.
# For PostgreSQL (e.g. Render): postgresql://<user>:<password>@<host>:<port>/<dbname>
DATABASE_URL=postgresql://turtleneck:your_password_here@dpg-d8le53ek1jcs73b0mnig-a.oregon-postgres.render.com/turtleneck
